<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/_header %>
</head>
<body>
    <!-- Write EJS code here to display shortened links -->

    <ul>
      <% if (urls) { %>
        <% for (i in urls) {%>
          <li>
            <p> <%= i %> &rarr; <a href='<%= urls[i] %>'> <%= urls[i] %> </a> </p>
            <form method="POST" action="/urls/<%= i %>/delete">
              <input type="submit" value="DELETE this URL">
            </form>
            <form method="POST" action="/urls/<%= i %>/">
              <input type="submit" value="EDIT this URL">
            </form>

          </li>
        <% } %>
      <% } %>

      <br/>
      <li>
      <a href='/urls/new'> Shorten a New URL </a>
      </li>
    </ul>

</body>
</html>
